
	<div id="map_canvas"></div>
	<!--
	<div id="header">
		<img id="logo" src="assets/logo-eSPARK-rgb.jpg"></img>
		<div class="text" id="filter-nach">Filtern nach:</div>
		<div class="seperator"></div>
		<div class="dropdown">
			<a href="#" role="button" id="bundesland" class="dropdown-toggle button" data-toggle="dropdown">Bundesland</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="bundesland">
			<div>
				<div class="button-link" id="alle">Alle</div>
				<div class="button-link" id="burgenland">Burgenland</div>
				<div class="button-link" id="kaernten">Kärnten</div>
				<div class="button-link" id="niederoesterreich">Niederösterreich</div>
				<div class="button-link" id="oberoesterreich">Oberösterreich</div>
				<div class="button-link" id="salzburg">Salzburg</div>
				<div class="button-link" id="steiermark">Steiermark</div>
				<div class="button-link" id="tirol">Tirol</div>
				<div class="button-link" id="vorarlberg">Vorarlberg</div>
				<div class="button-link" id="wien">Wien</div>
			</div>
			</ul>
		</div>
		<div class="seperator"></div>
		<div class="dropdown">
			<a href="#" id="branche" class="button dropdown-toggle button" data-toggle="dropdown">Branche</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="bundesland">
				<li class="button-link">Games</li>
				<li class="button-link">Web</li>
				<li class="button-link">Werbung</li>
			</ul>
		</div>
		<div class="seperator"></div>
		<div class="dropdown">
			<a href="#" id="gruendungsjahr" class="button dropdown-toggle button" data-toggle="dropdown">Gründungsjahr</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="bundesland">
				<li class="button-link">2013</li>
				<li class="button-link">2012</li>
				<li class="button-link">2011</li>
				<li class="button-link">2010</li>
				<li class="button-link">2009</li>
				<li class="button-link">2008</li>
				<li class="button-link">2007</li>
				<li class="button-link">2006</li>
				<li class="button-link">2005</li>
			</ul>
		</div>
	</div>
	<div id="suche">
		<a href="#" class="button">Suche nach Name</a>
		<div class="seperator"></div>
		<form>
			<input id="suchefield" type="text" name="suche">
		</form> 
	</div>
	<div id="footer">
		<a href="form.html" class="button various fancybox" data-fancybox-type="iframe">Startup eintragen</a>
	</div>