<% @players.each do |player| %>
	<div class="marker" data-name="<%= player.name %>" data-description="<%= player.description %>" data-lat="<%= player.lat %>" data-lng="<%= player.lng %>">
	</div>
<% end %>