html, body, #map_canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

#left-wrapper{
	z-index: 100;
	position: absolute;
	top: 150px;
	left: 10%;
	background-color: white;
	padding: 5px;
}

#right-wrapper {
	z-index: 100;
	position: absolute;
	top: 150px;
	right: 10%;
	background-color: white;
	padding: 5px;
}

// MARKER
#marker-container {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.clickable {
	cursor: pointer;
}